.form-type {
  display: flex;
  justify-content: space-around;
}

.form {
  height: 11.5em!important;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.buttons {
  height: 3em;
  padding: .7em;
}

label{
  font-size: 1.2em!important;
}

.error {
  color: red!important;
}

.form .title{
  font-weight: 600;
  font-size: 1.2em;
}

.check {
  margin-bottom: 2em;
}

.options {
  display: flex;
  justify-content: flex-start;
}

.select-field {
  width: 25em;
}